.details{
height: calc(100vh- (#{$header-height}) * 2.5);
min-height: 500px;
grid-template-columns: auto auto;
align-content: center;
justify-content: center;
margin-top: 2.5rem;

&__box{
    margin-bottom: 2.5rem;
    text-align: center;
}

&__initial {
    font-size: var(--smaller-font-size);
}
&__title{
    font-size: var(--bigger-font-size);

    & span{
        font-size: var(--big-font-size);
    }
}
&__img{
    padding-bottom: 100px;
    width: 100%;
    
    & img{
    width: 170px;
    object-fit: contain;
        }

    }
}